<div class="home">

  <div class="home__datetime">
    <div class="date">
      <span id="dayname">Day</span>
      <span id="month">Month</span>
      <span id="daynum">00</span>
      <span id="year">Year</span>
    </div>
    <div class="time">
      <span id="hour">00</span>
      :
      <span id="minutes">00</span>
      :
      <span id="seconds">00</span>
      :
      <span id="period">AM</span>
    </div>
  </div>
  <div class="home__room">
    <h2>Rooms</h2>
    <div class="row home__room__wrapper gy-4">

    </div>
  </div>
  <div class="home__device">
    <h2>Device</h2>
    <div class="home__device__icons">

    </div>

  </div>

  <div class="home__report">
    <div class="container">
      <div class="home__report__title">
        <h2>Quick report</h2>
      </div>
      <div class="row home__report__list">
        <div class="col-sm-6">
          <a href="/report/temparature">
            <div class="home__report__item">
              <h3>Avarage Tempature</h3>
              <span>22°C</span>
              <img src="/images/temparature.PNG" alt="" />
            </div></a>
        </div>
        <div class="col-sm-6">
          <a href="/report/humidity">
            <div class="home__report__item">
              <h3>Avarage Humidity</h3>
              <span>22%</span>
              <img src="/images/humidity.PNG" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/homepage.js"></script>