
        <main class="container">
            <section class="col-md-7 col-lg-6 col-xl-5 mx-auto">
               <article class="my-3 border rounded p-3">
                   <div class="d-flex flex-row">
                       <div class="w-50"><h3 class="text-warning">Warning</h3></div>
                       <div class="w-50 d-flex align-items-center justify-content-end"><span>22/12/2222</span></div>
                   </div>
                   <p>
                       Nồng độ khí ga vượt ngưỡng cho phép, vui lòng mở quạt thông gió
                   </p>
                   <div class="d-flex flex-row justify-content-end">
                        <button type="button" class="btn btn-outline-danger">Dismiss</button>
                   </div>
               </article>

               <article class="my-3 border rounded p-3">
                <div class="d-flex flex-row">
                    <div class="w-50"><h3 class="text-warning">Warning</h3></div>
                    <div class="w-50 d-flex align-items-center justify-content-end"><span>22/12/2222</span></div>
                </div>
                <p>
                    Nồng độ khí ga vượt ngưỡng cho phép, vui lòng mở quạt thông gió
                </p>
                <div class="d-flex flex-row justify-content-end">
                     <button type="button" class="btn btn-outline-danger">Dismiss</button>
                </div>
            </article><article class="my-3 border rounded p-3">
                <div class="d-flex flex-row">
                    <div class="w-50"><h3 class="text-warning">Warning</h3></div>
                    <div class="w-50 d-flex align-items-center justify-content-end"><span>22/12/2222</span></div>
                </div>
                <p>
                    Nồng độ khí ga vượt ngưỡng cho phép, vui lòng mở quạt thông gió
                </p>
                <div class="d-flex flex-row justify-content-end">
                     <button type="button" class="btn btn-outline-danger">Dismiss</button>
                </div>
            </article><article class="my-3 border rounded p-3">
                <div class="d-flex flex-row">
                    <div class="w-50"><h3 class="text-warning">Warning</h3></div>
                    <div class="w-50 d-flex align-items-center justify-content-end"><span>22/12/2222</span></div>
                </div>
                <p>
                    Nồng độ khí ga vượt ngưỡng cho phép, vui lòng mở quạt thông gió
                </p>
                <div class="d-flex flex-row justify-content-end">
                     <button type="button" class="btn btn-outline-danger">Dismiss</button>
                </div>
            </article><article class="my-3 border rounded p-3">
                <div class="d-flex flex-row">
                    <div class="w-50"><h3 class="text-warning">Warning</h3></div>
                    <div class="w-50 d-flex align-items-center justify-content-end"><span>22/12/2222</span></div>
                </div>
                <p>
                    Nồng độ khí ga vượt ngưỡng cho phép, vui lòng mở quạt thông gió
                </p>
                <div class="d-flex flex-row justify-content-end">
                     <button type="button" class="btn btn-outline-danger">Dismiss</button>
                </div>
            </article><article class="my-3 border rounded p-3">
                <div class="d-flex flex-row">
                    <div class="w-50"><h3 class="text-warning">Warning</h3></div>
                    <div class="w-50 d-flex align-items-center justify-content-end"><span>22/12/2222</span></div>
                </div>
                <p>
                    Nồng độ khí ga vượt ngưỡng cho phép, vui lòng mở quạt thông gió
                </p>
                <div class="d-flex flex-row justify-content-end">
                     <button type="button" class="btn btn-outline-danger">Dismiss</button>
                </div>
            </article>
            </section>            
        </main>
