<main class="container">
    <section class="col-md-7 col-lg-6 col-xl-5 mx-auto">
        {{#each notifications}}
        <article class="my-3 border rounded p-3">
            <div class="d-flex flex-row">
                <div class="w-50">
                    <h3 class="text-{{type}}">{{title}}</h3>
                </div>
                <div class="w-50 d-flex align-items-center justify-content-end">
                    <span>
                    date
                    </span></div>
            </div>
            <p style="word-wrap: break-word;">
                {{content}}
            </p>
            <div class="d-flex flex-row justify-content-end">
                <button type="button" class="btn btn-outline-danger">Dismiss</button>
            </div>
        </article>
        {{/each}}
        
    </section>
</main>