body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}

.container {
    margin: 20px;
}

.card-head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #17a2b8;
}

.image-gas img {
    height: 400px;
}

.concentration {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.card-body-item {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}