   <link rel="stylesheet" href="/stylesheets/report.css">
 

 
    
   
<div class="report_container">
   <table style="width:80%">
       <tr>
           <td style="font-size:20px; font-weight: bold;" colspan="7">Bảng số liệu của độ ẩm trong tuần</td>
       </tr>
  <tr>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
      <td>Sunday</td>
  </tr>
  <tr>
        {{#each humi}}
    <td class="col">{{this.humidity}}</td>
    {{/each}}
  </tr>
 
</table>
    
     <div id="chartContainer" >
    </div>
    <div class="avarage">
        <span>22 %</span>
    </div>
</div>

    <script>

const dataCol = document.querySelectorAll(".col")
let data=[];
dataCol.forEach((item, index) =>{
data.push(Number(item.innerHTML));
})

        window.onload = function() {
            const sum = data.reduce((a, b) => {
                return a + b;
            }, 0)
            const avarage = (sum / (data.length)).toFixed(2);
              localStorage.setItem('humiAvarage', JSON.stringify(avarage));
            document.querySelector(".avarage span").innerHTML = `${avarage} %`;

            var dps = [];
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: " Average Humidity"
                },
                axisX: {
                    title: "Time"
                },
                axisY: {
                    title: "Percentage",
                    suffix: " %",
                    includeZero: true
                },
                data: [{
                    type: "line",



                    yValueFormatString: "#,##0.##\"%\"",
                    connectNullData: true,


                    dataPoints: [{
                        label: "Monday",
                        y: data[0],

                    }, {
                        label: "Tuesday",
                        y: data[1],

                    }, {
                        label: "Wednesday",
                        y: data[2],

                    }, {
                        label: "Thursday",
                        y:data[3],

                    }, {
                        label: "Friday",
                        y: data[4],

                    }, {
                        label: "Saturday",
                        y:data[5],

                    }, {
                        label: "Sunday",
                        y: data[6],
                    }]
                }]
            });
            chart.render();
            // function updateData() {
            //     nums.forEach((num, index) => {
            //         dps.push({
            //             x: Number(num),
            //             y: cols[index]
            //         });
            //     })

            // }
            // updateData()


        }
    </script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>