.air-container {}

.container {
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding-bottom: 60px;
    height: 100vh;
}

.img-air-condition img {
    display: block;
    margin: 0 auto;
}

.temp-air-condition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 25px;
}

.temp-air-condition .temp-setting {
    font-size: large;
    font-weight: 400;
}

.temp-air-value {
    font-size: xx-large;
}

.auto-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

.air-condition-time {
    display: flex;
    gap: 10px;
    padding-right: 30px;
    padding-top: 10px;
}

.time-on-label span {
    padding-right: 10px;
}

.auto-setting img {
    width: 20px;
}

.text-normal {
    padding-left: 5px;
    padding-right: 5px;
}

.auto-label {
    font-size: large;
}

.auto-btn {
    font-size: medium;
    background-color: rgb(170, 196, 226);
    border-radius: 20%;
    box-shadow: #ccc;
    padding: 5px 10px;
}

.text-normal {
    font-size: 20px;
}

.number-input {
    width: 50px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1fa841;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1fa841;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}