.report_container {
    margin-top: 50px;
    padding: 0 5%;
}

#chartContainer {
    padding-top: 50px;
    position: relative;
    /* padding-right: 400px; */
    height: 300px;
    width: 100%;
}

.avarage {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.avarage span {
    font-size: 30px;
    color: red;
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}