<header>
  <div class="home">
    <div class="home__header">
      <div class="home__header__text">
        <h2>welcome home,
          {{#if user}}
            {{user.userName}}

          {{/if}}</h2>
        <p>What are you going to do?</p>
      </div>

      <div class="home__header__group__input">
        <div class="home__header__form__outline">
          <input
            type="search"
            id="form1"
            class="form-control"
            placeholder="search here..."
            autocomplete="off"
            shadow-none
          />
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="home__header__user">
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-user"></i>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa-solid fa-user"></i>

            <div class="user__info">
              <span>{{user.userName}}</span>
            </div>
          </li>
          <li class="list-group-item">Setting</li>
          <li class="list-group-item"><a href="/management">User Management</a></li>
          <li class="list-group-item"> <a href="/users/logout">Log out</a></li>

        </ul>
      </div>
    </div>
  </div>
</header>