body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}

#air-condition {
    display: flex;
    justify-content: center;
}

#air-condition .container {
    display: flex;
    height: 100%;
    border: 0.5px solid rgb(204, 204, 204);
    padding: 10px;
    margin: 20px;
    flex-direction: column;
    padding-bottom: 150px;
}

#air-condition .container .air-condition-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#air-condition .container .air-condition-box .air-condition-temp {
    margin-top: -30px;
}

#air-condition .container .air-condition-box .air-condition-content a {}

#air-condition .container .air-condition-box .air-condition-setting {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#air-condition .container .air-condition-box .air-condition-setting .air-condition-mode {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#air-condition .container .air-condition-box .air-condition-setting .air-condition-mode-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#air-condition .container .air-condition-box .air-condition-setting .air-condition-time {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.auto-btn {
    font-size: medium;
    background-color: rgb(170, 196, 226);
    border-radius: 20%;
    box-shadow: #ccc;
    padding: 5px 10px;
}

.text-normal {
    font-size: 20px;
}

.number-input {
    width: 50px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1fa841;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1fa841;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}