<link rel="stylesheet" href="/stylesheets/air-ver1.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://kit.fontawesome.com/cba7995b4a.js" crossorigin="anonymous"></script>

<div class="air-container">
  <div class="container">
    <!-- Content here -->
    <div class="row">
      <div class="col-md-12">
        <div class="img-air-condition">
          <img src="/images/images-removebg-preview.png" alt="" />
        </div>
        <div class="temp-air-condition">
          <span id="value" class="temp-air-value">25 </span>
          <span class="temp-air-value">&#8451;</span>
        </div>
        <div class="temp-air-condition">
          <span class="temp-setting">Off</span>
          <label class="switch">
            <input id="on-off" type="checkbox" />
            <span class="slider round"></span>
          </label>

          <span class="temp-setting">On</span>

        </div>

        <div class="auto-setting">
          <label class="auto-label">Auto
            <img src="/images/icons8-time-40.png" /></label>
          <div class="air-auto-mode">
            <div class="air-condition-time">
              <div class="time-on-label" style="align-self: flex-start;">
                <span class="text-normal">Time On: </span>
              </div>

              <div>
                <input type="number" value="8" class="number-input" />
                <span class="text-normal">
                  h</span>
              </div>
              <div>
                <input type="number" value="8" class="number-input" />
              </div>

            </div>

            <div class="air-condition-time">
              <div class="time-on-label" style="align-self: flex-start;">
                <span class="text-normal">Time Off: </span>
              </div>

              <div>
                <input type="number" value="8" class="number-input" /><span
                  class="text-normal"
                >
                  h</span>
              </div>
              <div>
                <input type="number" value="8" class="number-input" />
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

 
<link rel="stylesheet" href="/stylesheets/gas.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://kit.fontawesome.com/cba7995b4a.js" crossorigin="anonymous"></script>

    <div class="gas-concentration">
        <div class="container">
            <div class="row">
                <div class="card" style="width: 100rem; height: 50rem;">
                    <div class="card-head">
                        <div style="flex-grow: 1;" class="image-gas">
                            <img src="/images/communicator-radio-military-force-isolated-icon-free-vector.jpg">
                        </div>
                        <div class="concentration" style="flex-grow: 1;">
                            <span style="color: rgb(10, 87, 80)">Concentration: <span id="value"
                                    style="color: #103f32 ;font-weight:500 "></span> PPM
                            </span>
                        </div>
                    </div>

                    <div class=" card-body ">
                        <div class="card-body-item "><span><i class="fa-solid fa-helmet-safety fa-2xl "></i>
                                <= 1 PPM Safety </span>
                        </div>
                        <div class="card-body-item "><i class="fa-solid fa-fire fa-2xl "></i> > 1 PPM Danger
                            </divclass=>
                        </div>
                    </div>

                </div>
            </div>
          </div>

<script src="http://code.jquery.com/jquery-latest.min.js" ></script>
<script>    
    $(document).ready(function(){
            setInterval(fetchdata,500);
            setInterval(fetchdata1,500);
            $('#on-off').change(function(){
                if($('#on-off').is(":checked")){
                    data = {value : '3'}
                }
                else{
                   data = {value : '2'}
                }
            fetch('https://io.adafruit.com/api/v2/DAFS/feeds/led/data', {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
              'X-AIO-Key' : 'aio_ybEe57IpNf9vUtBlfhHmQP4NbrJj'
            },
            body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
              console.log('Success:', data);
            })
            .catch((error) => {
              console.error('Error:', error);
            });
            })
});

    function fetchdata(){ 
    // add rest = true and jsonp = true to /etc/mongodb.conf, 
    // then restart mongodb
         $.ajax({
                url: "https://io.adafruit.com/api/v2/DAFS/feeds/temp/data",
                type: 'get',
                dataType: 'json',
                jsonp: 'json', // mongodb is expecting that                                                                                     
            })
            .done(function(data) {
                console.log(data[0].value)
               // $("code").text(d).css("color","green");
               $('#value').text(data[0].value);
            })
            .fail(function(request,status,error) {
                $("code").text("get failed: "+error).css("color","red");
            })
            .always(function() {
                console.log("finished")})
  };
  function fetchdata1(){ 
     
    // add rest = true and jsonp = true to /etc/mongodb.conf, 
    // then restart mongodb
         $.ajax({
                url: "https://io.adafruit.com/api/v2/DAFS/feeds/led/data",
                type: 'get',
                dataType: 'json',
                jsonp: 'json', // mongodb is expecting that                                                                                     
            })
            .done(function(data) {
                console.log(data[0].value)
               // $("code").text(d).css("color","green");
                if(data[0].value == 3){
                 $('#on-off').prop('checked', true);
                }
                else{
                  $('#on-off').prop('checked', false);
                }
                console.log($('#on-off').is(":checked"))
            })
            .fail(function(request,status,error) {
                $("code").text("get failed: "+error).css("color","red");
            })
            .always(function() {
                console.log("finished")
            })
  };
</script>