<link rel="stylesheet" href="/stylesheets/air-ver1.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://kit.fontawesome.com/cba7995b4a.js" crossorigin="anonymous"></script>
<div>
<div class="air-container">
  <div class="container">
    <!-- Content here -->
    <div class="row">
      <div class="col-md-12">
        <div class="img-air-condition">
          <img src="/images/images-removebg-preview.png" alt="" />
        </div>
        <div class="temp-air-condition">
          <span id="value" class="temp-air-value">25 </span>
          <span class="temp-air-value">&#8451;</span>
        </div>
        <div class="temp-air-condition">
          <span class="temp-setting">Off</span>
          <label class="switch">
            <input id="on-off" type="checkbox" />
            <span id="on-off-span" class="slider round"></span>
          </label>

          <span class="temp-setting">On</span>

        </div>

        <div class="auto-setting">
          <label class="auto-label">Auto
            <img src="/images/icons8-time-40.png" /></label>
          <div class="air-auto-mode">

          <div class="temp-air-condition">
          <span class="temp-setting">Off</span>
          <label class="switch">
            <input id="auto" type="checkbox" />
            <span  class="slider round"></span>
          </label>

          <span class="temp-setting">On</span>
         
        </div>
          
             <input id="aio_key"  type="hidden" value={{AIO_KEY}}>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script>    
    $(document).ready(function(){
            setInterval(fetchdata,500);
            setInterval(fetchdataFunc,2000,"led", 3, "on-off");
            setInterval(fetchdataFunc,2000, "auto", 5, "auto");

            if($('#auto').is(":checked")){
              console.log("here")
              $('#on-off').prop("disabled", true)
              $('#on-off-span').css("background-color", "grey" )
            }

            $('#on-off').change(function(){
                if($('#on-off').is(":checked")){
                  $('#on-off-span').css("background-color", "#1fa841" )
                    data = {value : '3'}
                }
                else{
                  $('#on-off-span').css("background-color", "#ccc" )
                   data = {value : '2'}
                }

            updateAPI("led", data)
            })


            $('#auto').change(function(){
                if($('#auto').is(":checked")){
                   $('#on-off').prop("disabled", true)
                   $('#on-off-span').css("background-color", "grey" )
                   data = {value : '5'}
                }
                else{
                   $('#on-off').prop("disabled", false)
                   if($('#on-off').is(":checked")){
                      $('#on-off-span').css("background-color", "#1fa841" )
                   }else{
                     $('#on-off-span').css("background-color", "#ccc" )
                   }
                   
                   data = {value : '4'}
                }
                updateAPI("auto", data)
            })

        
});

    function fetchdata(){ 
    // add rest = true and jsonp = true to /etc/mongodb.conf, 
    // then restart mongodb
         $.ajax({
                url: "https://io.adafruit.com/api/v2/DAFS/feeds/temp/data",
                type: 'get',
                dataType: 'json',
                jsonp: 'json', // mongodb is expecting that                                                                                     
            })
            .done(function(data) {
            //    console.log(data[0].value)
               // $("code").text(d).css("color","green");
               $('#value').text(data[0].value);
               if(parseInt(data[0].value) > 28 && $('#auto').is(":checked") && !($('#on-off').is(":checked")) ){
                    data = {value : '3'}
                    $('#on-off').prop('checked', true); 
                    updateAPI("led", data)
               }else if(parseInt(data[0].value) < 28 && $('#auto').is(":checked") && $('#on-off').is(":checked")){
                  data = {value : '2'}
                  $('#on-off').prop('checked', false)  
                  updateAPI("led", data)
               }

            })
            .fail(function(request,status,error) {
                $("code").text("get failed: "+error).css("color","red");
            })
            .always(function() {
                //console.log("finished")
                })



  };
  function fetchdataFunc(name, value, name1){ 
     
    // add rest = true and jsonp = true to /etc/mongodb.conf, 
    // then restart mongodb
         $.ajax({
                url: `https://io.adafruit.com/api/v2/DAFS/feeds/${name}/data`,
                type: 'get',
                dataType: 'json',
                jsonp: 'json', // mongodb is expecting that                                                                                     
            })
            .done(function(data) {
              //  console.log(data[0].value)
               // $("code").text(d).css("color","green");
                if(data[0].value == value) {
                 $(`#${name1}`).prop('checked', true);
                 if(name1 == "auto"){
                   $('#on-off-span').css("background-color", "grey" )
                 }
                }
                else{
                  $(`#${name1}`).prop('checked', false);
                }

            })
            .fail(function(request,status,error) {
                $("code").text("get failed: "+error).css("color","red");
            })
            .always(function() {
                
            })
  };
   console.log($('#aio_key').val())
  function updateAPI(apiName, data){
     fetch(`https://io.adafruit.com/api/v2/DAFS/feeds/${apiName}/data`, {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
              'X-AIO-Key' : $('#aio_key').val()
            },
            body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
              console.log('Success:', data);
            })
            .catch((error) => {
              console.error('Error:', error);
            });
  }
</script>