
       <link rel="stylesheet" href="/stylesheets/fan.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <div class="fan">
       <input id="aio_key"  type="hidden" value={{AIO_KEY}}>
        <div class="swiper mySwiper fan__devices__wrapper ">
            <div class="swiper-wrapper fan__devices">
                <div class="swiper-slide fan__devices__item">
                    <div class="fan__devices__item__image">
                       <img src="/images/fan.png" alt="">
                        <img src="/images/fan (1).png" alt="">
                    </div>
                   
                      <span>fan 1</span>
                  
                  
                   
                </div>
                <div class="swiper-slide fan__devices__item">
                    <div class="fan__devices__item__image">
                       <img src="/images/fan.png" alt="">
                        <img src="/images/fan (1).png" alt="">
                    </div>
                    <span>fan 2</span></div>
                <div class="swiper-slide fan__devices__item">
                    <div class="fan__devices__item__image">
                          <img src="/images/fan.png" alt="">
                        <img src="/images/fan (1).png" alt="">
                    </div>
                    <span>fan 3</span></div>
                <div class="swiper-slide fan__devices__item">
                    <div class="fan__devices__item__image">
                        <img src="/images/fan.png" alt="">
                        <img src="/images/fan (1).png" alt="">
                    </div>
                    <span>fan 4</span></div>
                <div class="swiper-slide fan__devices__item">
                    <div class="fan__devices__item__image">
                        <img src="/images/fan.png" alt="">
                        <img src="/images/fan (1).png" alt="">
                    </div>
                    <span>fan 5</span></div>
                <div class="swiper-slide fan__devices__item">
                    <div class="fan__devices__item__image">
                        <img src="/images/fan.png" alt="">
                        <img src="/images/fan (1).png" alt="">
                    </div>
                    <span>fan 6</span></div>
                <div class="swiper-slide fan__devices__item">
                    <div class="fan__devices__item__image">
                        <img src="/images/fan.png" alt="">
                        <img src="/images/fan (1).png" alt="">
                    </div>
                    <span>fan 7</span></div>

            </div>
            <div class="swiper-pagination"></div>
        </div>


        <div class="fan__content">
            <div class="fan__content__title">
                <strong>fan 1</strong>
                  
            </div>
            <div class="fan__content__image">
                <img src="https://www.ushafans.com/sites/default/files/lifestyle-fan.png" alt="">
            </div>
            <p>25 °C</p>
        </div>
        <div class="fan__control">
            <div class="fan__control__item">
                <span>off</span>
                <label class="switch">
                <input type="checkbox" class="checkbox">
                <span class="slider round"></span>
              </label>
               <span>on</span>
            </div>

            <div class="fan__control__item__auto">
                <div class="fan__control__item__auto__title">
                    <p><span>Auto</span>
                    <img src="/images/icons8-time-40.png" alt="">
                    </p>
                </div>
                <div class="fan__control__item__auto__btn">
               <span>off</span>
                <label class="switch">
                <input type="checkbox" class="checkbox">
                <span class="slider round"></span>
              </label>
               <span>on</span>
                </div>
            
            </div>
        </div>
    </div>



<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
	slidesPerView: 1,
	spaceBetween: 10,
	pagination: {
		el: ".swiper-pagination",
		clickable: true,
	},
	breakpoints: {
		"@0.00": {
			slidesPerView: 1,
			spaceBetween: 10,
		},
		"@0.75": {
			slidesPerView: 2,
			spaceBetween: 20,
		},
		"@1.00": {
			slidesPerView: 3,
			spaceBetween: 40,
		},
		"@1.50": {
			slidesPerView: 4,
			spaceBetween: 50,
		},
	},
});

const aio_key = document.querySelector("#aio_key").value;

fetch("https://io.adafruit.com/api/v2/DAFS/feeds/temp/data")
.then(res=>res.json())
.then(data=>{
   updateTemp(data);
})


const updateTemp = (data)=>{
let temp = data[0].value;
updateState(temp);
    document.querySelector(".fan__content p").innerHTML =`${temp}%`;
}
const updateState =(temp)=>{
if(Number(temp)>28){
      checkboxs[1].click();
}
}
const fetchData =()=>{ 
    fetch('https://io.adafruit.com/api/v2/DAFS/feeds/fan/data')
  .then(response => response.json())
  .then(data => resData(data));
}
setInterval(fetchData,3000);

var checkboxs= document.querySelectorAll(".checkbox");
  const resData =(data)=>{
       

  if (data[0].value==="1"){
      checkboxs[0].checked = true;
  }
  else{
      checkboxs[0].checked = false;
  }

  }
const turn =  document.querySelectorAll(".fan__devices__item__image");
checkboxs[0].addEventListener("change", () => {
 turn[0].classList.toggle("active")
})
    checkboxs[0].addEventListener("change",()=>{
  
    if (checkboxs[0].checked){
     
        datas= {value:"1"}
    }
    else{
       
        datas= {value:"0"}
    }
            postData(datas);
           
})

const postData =(datas)=>{
     fetch('https://io.adafruit.com/api/v2/DAFS/feeds/fan/data', {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
              'X-AIO-Key' : `${aio_key}`
            },
            body: JSON.stringify(datas),
            })
            .then(()=>{
               setTimeout( fetchData,1000);
            })
            .catch((error) => {
              console.error('Error:', error);
            });
}









const fetchData1 =()=>{ 
    fetch('https://io.adafruit.com/api/v2/DAFS/feeds/auto')
  .then(response => response.json())
  .then(data => resData1(data));
}

setInterval(fetchData1,3000);

var checkboxs= document.querySelectorAll(".checkbox");

  const resData1=(data)=>{
   if (data.last_value==="5"){
      checkboxs[1].checked = true;
     checkboxs[0].checked = false;
       checkboxs[0].disabled = true;
      postData({value:"0"})
  }
  else{
      checkboxs[1].checked = false;
       checkboxs[0].disabled = false;
  }


  }

   checkboxs[1].addEventListener("change",()=>{
  
    if (checkboxs[1].checked){
     
        datas= {value:"5"}

     
    }
    else{
       
        datas= {value:"4"}
    }
            postData1(datas);
           
})
const postData1 =(datas)=>{
     fetch('https://io.adafruit.com/api/v2/DAFS/feeds/auto/data', {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
              'X-AIO-Key' : `${aio_key}`
            },
            body: JSON.stringify(datas),
            })
            .then(()=>{
               setTimeout( fetchData,1000);
            })
            .catch((error) => {
              console.error('Error:', error);
            });
}

</script>
{{!-- <script src="./script5.js"></script> --}}

