    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">     --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/cba7995b4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/lightslider.css">
    <script src="javascripts/lightslider.js"></script>
    <link rel="stylesheet" href="/stylesheets/light.css">
    

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex title">
                <i class="fa fa-arrow-left col-5"></i>
                <h1 class="col-2">Light</h1>
            </div>
            {{!-- <div class="demo col-md-12">
                <div class="navbar-collapse" id="navbar" style="align-items: center;">
                    <ul id="autoWidth" class="cs-hidden">
                        <li class="nav-item active item-a">
                            <a class="nav-link " href="#">
                                <img src="light.jpg" alt=""> Light 1
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item item-a">
                            <a class="nav-link " href="#">
                                <img src="light.jpg" alt=""> Light 2
                            </a>
                        </li>
                        <li class="nav-item item-a">
                            <a class="nav-link " href="#">
                                <img src="light.jpg" alt=""> Light 3
                            </a>
                        </li>
                    </ul>
                </div>
            </div> --}}
            <div class="body">
                <div class="img">
                    <div id="lightOff">
                        <img class="img-src"  src="/images/light.png" alt="">
                    </div>
                    <div id="lightOn" style="display: none;">
                        <img class="img-src"  src="/images/light1.png" alt="" >
                    </div>
                </div>
                <div class="detail d-flex">
                    {{!-- <div class="temp-air-condition" style="align-items: center;" >
                        <span class="temp-setting">OFF</span>
                        <label class="switch" >
                            <input id="on-off" type="checkbox">
                            <span id="on-off-span" class="slider round"></span>
                        </label>
                        <span class="temp-setting">ON</span>
                    </div> --}}
                    <div class="temp-air-condition" style="align-items: center;">
                        <span class="temp-setting">Off</span>
                        <label class="switch">
                            <input id="on-off" type="checkbox" />
                            <span id="on-off-span" class="slider round"></span>
                        </label>

                        <span class="temp-setting">On</span>

                    </div>
                </div>
            </div>
            <div id="modes">
                <div id="mode" style="margin-top: 10px;">
                    <div class="auto-setting">
                        <label class="auto-label">
                            Auto
                        </label>

                        <div class="temp-air-condition">
                            <span class="temp-setting">Off</span>
                            <label class="switch">
                                <input id="auto" type="checkbox" />
                                <span  class="slider round"></span>
                            </label>
                            <span class="temp-setting">On</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


<script>
    function switchFuncc(){
        const value = document.getElementsByClassName("switch-valuee")[0].value;
        console.log(value);
        var lighton = document.getElementById("lightOn");
        var lightoff = document.getElementById("lightOff");
        if(value == 0){
            document.getElementsByClassName("switch-valuee")[0].value = 1;
            lightoff.style.display = 'none';
            lighton.style.display = 'block';
            console.log(lightoff);
            console.log(lighton);
        }
        else if(value == 1){
            console.log("value");
            console.log(value);
            document.getElementsByClassName("switch-valuee")[0].value = 0;
            lightoff.style.display = 'block';
            lighton.style.display = 'none';
        }
        
        
    }  

    $(document).ready(function(){
            setInterval(fetchdata1,500);
            setInterval(fetchdataAuto,500);
            $('#on-off').change(function(){
                if($('#on-off').is(":checked")){
                    $('#on-off-span').css("background-color", "#1fa841" )
                    $('#lightOn').css("display", "block");
                    $('#lightOff').css("display", "none");
                    data = {value : '3'}
                }
                else{
                    $('#on-off-span').css("background-color", "#ccc" )
                    $('#lightOn').css("display", "none");
                    $('#lightOff').css("display", "block");
                    data = {value : '2'}
                }

            updateAPI("led", data)
            })


            $('#auto').change(function(){
                if($('#auto').is(":checked")){
                   $('#on-off').prop("disabled", true)
                   $('#on-off-span').css("background-color", "grey" )
                   data = {value : '5'}
                }
                else{
                   $('#on-off').prop("disabled", false)
                   $('#on-off-span').css("background-color", "#1fa841" )
                   data = {value : '4'}
                }
                updateAPI("auto", data)
            })
});

    function fetchdata1(){ 
     
    // add rest = true and jsonp = true to /etc/mongodb.conf, 
    // then restart mongodb
         $.ajax({
                url: "https://io.adafruit.com/api/v2/DAFS/feeds/led/data",
                type: 'get',
                dataType: 'json',
                jsonp: 'json', // mongodb is expecting that                                                                                     
            })
            .done(function(data) {
                console.log(data[0].value)
               // $("code").text(d).css("color","green");
                if(data[0].value == 3){
                    $('#on-off').prop('checked', true);
                    $('#lightOn').css("display", "block");
                    $('#lightOff').css("display", "none");
                }
                else{
                    $('#on-off').prop('checked', false);
                    $('#lightOn').css("display", "none");
                    $('#lightOff').css("display", "block");
                }

            })
            .fail(function(request,status,error) {
                $("code").text("get failed: "+error).css("color","red");
            })
            .always(function() {
                console.log("finished")
            })
  };

    function fetchdataAuto(){ 
     
    // add rest = true and jsonp = true to /etc/mongodb.conf, 
    // then restart mongodb
         $.ajax({
                url: "https://io.adafruit.com/api/v2/DAFS/feeds/auto/data",
                type: 'get',
                dataType: 'json',
                jsonp: 'json', // mongodb is expecting that                                                                                     
            })
            .done(function(data) {
               
               // $("code").text(d).css("color","green");
                if(data[0].value == 5){
                 $('#auto').prop('checked', true);
                }
                else{
                  $('#auto').prop('checked', false);
                }

            })
            .fail(function(request,status,error) {
                $("code").text("get failed: "+error).css("color","red");
            })
            .always(function() {
                console.log("finished")
            })
  };

    function updateAPI(apiName, data){
     fetch(`https://io.adafruit.com/api/v2/DAFS/feeds/${apiName}/data`, {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
              'X-AIO-Key' : 'aio_Ytvf93pu8ObYmCSlN9OMJ9OeM2zH'
            },
            body: JSON.stringify(data),
            })  
            .then(response => response.json())
            .then(data => {
              console.log('Success:', data);
            })
            .catch((error) => {
              console.error('Error:', error);
            });
  }  
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
