
   
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> --}}

      <link rel="stylesheet" href="/stylesheets/lightRoom.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


    <div class="lights__container">
        <div class="title">
            <h2>LIGHT</h2>
        </div>
        <div class="lights">
            <h2>Living room</h2>
            <div class="swiper mySwiper ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                            <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                              <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                              <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
        <div class="lights">
            <h2>kitchen room</h2>
            <div class="swiper mySwiper ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                            <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                              <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                              <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
        <div class="lights">
            <h2>bath room</h2>
            <div class="swiper mySwiper ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                            <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                              <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                              <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
        <div class="lights">
            <h2>Bed room</h2>
            <div class="swiper mySwiper ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                            <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                              <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                              <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>
                    <div class="swiper-slide lights__item">
                        <div class="lights__item__header">
                            <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                            <img src="/images/more.png" alt="">
                        </div>
                        <div class="lights__item__image">
                             <img src="/images/light.png" alt="">
                        <img src="/images/light1.png" alt="">
                        </div>
                        <span>fan 1</span>
                    </div>


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div>



<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


<script>
    var checkboxs = document.querySelectorAll(".checkbox");

var lightsItem = document.querySelectorAll(".lights__item");

checkboxs.forEach((checkbox, index) => {
	checkbox.addEventListener("change", () => {
		if (checkbox.checked) {
			lightsItem[index].classList.add("active");
		} else {
			lightsItem[index].classList.remove("active");
		}
	});
});

var swiper = new Swiper(".mySwiper", {
	slidesPerView: 1,
	spaceBetween: 10,
	pagination: {
		el: ".swiper-pagination",
		clickable: true,
	},
	breakpoints: {
		"@0.00": {
			slidesPerView: 1,
			spaceBetween: 10,
		},
		"@0.75": {
			slidesPerView: 2,
			spaceBetween: 20,
		},
		"@1.00": {
			slidesPerView: 3,
			spaceBetween: 40,
		},
		"@1.50": {
			slidesPerView: 4,
			spaceBetween: 50,
		},
	},
});

</script>

